
.row-cart {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  background-color: #fff;
  align-items: center;
  gap: 20px;
  padding: 10px 0 10px 10px;
}



.img {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.img img {
  justify-self: center;
}

.btn-clean {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
