.products {
  width: 100%;
  height: 100%;
  background: green;
}
.cart {
  width: 100%;
  height: 100%;
  background: red;
}
.duties {
  width: 100%;
  height: 100%;
  background: blue;
}

.table {
  border: solid 1px black;
}

.cart-foot {
  padding: 20px;
  justify-content: space-between;
}
